@{
    ViewData["Title"] = "Home Page";
}
@section Css
{
 <link rel="stylesheet" href="~/css/example.css" asp-append-version="true" />

<style>

    h1{
        color:red;
        background-color:blue;
    }
</style>
}

@section Scripts{
    <script type="text/javascript">
    //alert("sayfamıza hoş geldin.")
        $(document).ready(function(){
            console.log("sayfamıza hoş geldin.");
        })
    </script>
}

<h1>merhaba dünya</h1>
<hr />
<h2>merhaba asp net</h2>

@*<partial name="_MenuPartialView"></partial>
@await Html.PartialAsync("_MenuPartialView")*@
