@{
	ViewData["Title"]="ExampleController indes sayfası";
	Layout = "ExampleLayout";
}

@section header{

	<p>Bu kodlar headerın hemen altına eklenicek</p>
}

@section footer{

	<p>Bu kodlar footerın hemen altına eklenicek.</p>
}

//bu kısım render body kısmına denk geliyor.
<div>Bu benim ExampleLayout index sayfam</div>
